body {
    font-family: 'Roboto', sans-serif;
    background-color: #050822;
    color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    color: yellow;
    text-shadow: 0 0 10px rgb(46, 46, 46);
    margin-bottom: 16px;
    font-size: 54px;
}

a {
    color: yellow;
    text-decoration: none;
    margin: 10px;
}

a:hover {
    text-decoration: underline;
}

form {
    background-color: #2e2e2e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: 20px auto;
    width: 75%;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #00bfff;
}

button {
    background-color: #1f1f1f;
    color: yellow;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #3b3b3b;
}

ul {
    list-style-type: none;
    padding: 0;
    background-color: #2e2e2e;
    padding: 20px;
    border-radius: 10px;    
    margin: 20px auto;
    width: 50%;
    max-height: 300px;
}

li {
    margin: 10px 0;
}

.container {
    width: 50%;
    max-width: 800px;
    margin: 20px auto;
    text-align: center;
}

.title {
    color: yellow;
    text-shadow: 0 0 10px rgb(46, 46, 46);
    margin-bottom: 16px;
    font-size: 100px;
    font-weight: bold;
    text-decoration: underline;
}

.subtitle {
    color: yellow;
    text-shadow: 0 0 10px rgb(46, 46, 46);
    margin-bottom: 42px;
    font-size: 48px;
}

.main-menu {
    background-color: #2e2e2e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: 20px auto;
    width: 25%;
    font-size: 18px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group1 {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 0px;
    color: yellow;
}

.form-group input {
    width: 75%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #1f1f1f;
    color: yellow;
}

.form-group1 label {
    display: block;
    margin-bottom: 0px;
    color: yellow;
}

.form-group1 input {
    width: 75%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #1f1f1f;
    color: yellow;
}

.error {
    color: red;
    font-weight: bold;
    font-style: italic;
    margin-top: -9px;
    margin-bottom: 10px;
}