<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon Battle Info</title>
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="icon" href="../static/icon.ico" type="image/x-icon">
    <style>
        body {
            background-image: url('../images/background/battle_background.png');
            background-size: cover;
            background-position: center;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Pokemon Battle Info</h1>
        <form id="pokemon-form">
            <div class="form-group">
                <label for="opponent-pokemon">Opponent's Pokemon Name:</label>
                <input type="text" id="opponent-pokemon" name="opponent-pokemon" required>
            </div>
            <br><br>
            <div class="form-group">
                <label for="user-pokemon">Your Pokemon Name:</label>
                <input type="text" id="user-pokemon" name="user-pokemon" required>
            </div>
            <div class="form-group1">
                <label for="move1">Move 1:</label>
                <input type="text" id="move1" name="move1">
            </div>
            <div class="form-group1">
                <label for="move2">Move 2:</label>
                <input type="text" id="move2" name="move2">
            </div>
            <div class="form-group1">
                <label for="move3">Move 3:</label>
                <input type="text" id="move3" name="move3">
            </div>
            <div class="form-group1">
                <label for="move4">Move 4:</label>
                <input type="text" id="move4" name="move4">
            </div>
                <button type="submit">Submit</button>
        </form>
        <div class="main-menu">
            <a href="index.html">Back to Main Menu</a>
        </div>
    </div>
</body>
</html>