<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon Battle Sim</title>
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="icon" href="../static/icon.ico" type="image/x-icon">
    <style>
        body {
            background-image: url('../images/background/main_menu.png');
            background-size: cover;
            background-position: center;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="title">
            Pokemon Type
        </div>
        <div class="subtitle">
            Battle Simulator
        </div>
        <div class="main-menu">
            <a href="get_both_info.html">Start Battle</a>
        </div>
    </div>
</body>
</html>