body {
    font-family: 'Roboto', sans-serif;
    background-color: #050822;
    color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.container {
    text-align: center;
    margin: 0 auto;
}

.lockforge {
    font-size: 100px;
    margin-bottom: 16px;
}

.password-manager {
    font-size: 42px;
    margin-bottom: 42px;
}

.main-menu {
    margin: 20px auto;
    width: 25%;
    padding: 20px;
    background-color: #2e2e2e;
    border-radius: 10px;
    font-size: 18px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}